.main {
	max-width: 800px;
	width: 90%;
	margin: 40px auto;
	padding: 40px;
	background:  #ffffffc9;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}
.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1500px;
	width: 90%;
	margin:20px auto;
	padding: 2%;
}
.center *{
	align-self: center;
}
h2{
	font-size: 30px;
    color: rgba(129, 97, 235, 0.843);
}

form{
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	gap: 20px;
}
.Input, select{
  width: 85%;
  height: 45px;
	background: #2690ae30;
	border: 3px solid transparent;
	border-radius: 3px;
	line-height: 40px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

select{
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.5em top 50%;
  background-size: 0.7em auto;
}

.mas{
  height: 45px;
	width: 13%;
  margin-left: 2%;
	color: #fff;
  background: #0484b3;
	font-weight: bold;
	border: none;
  font-size: 1em;
	border-radius: 3px;
	cursor: pointer;
	padding: 0px 1em;
	text-align: center;
	transition: .1s ease all;
}
label{
  display: block;
	font-weight: 700;
	padding: 10px;
	min-height: 40px;
	cursor: pointer;
}
.btn_container{
  display: flex;
	flex-direction: row;
	align-items: center;
	grid-column: span 2;
  justify-content: center;
}

.btn{
  height: 45px; 
	line-height: 45px;
	width: 40%;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 0px 1.5em;
	margin: 1.2em;
	text-align: center;
	transition: .1s ease all;
	font-weight: bold;
}
.formulario__btn {
	background: #0075FF;
}
.btn_home {
	font-size: 1em;
	background: #f1945f;
}
.btn_no {
	font-size: 1em;
	background: #f15f5f;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
.cancel:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.cancel{
	background: rgb(210, 60, 60);
}
